.ZoneItem {
   display: flex;
   flex-direction: column;
   background-color: #cbe9e7;
   width: 95%;
   border-radius: 5px;
   box-shadow: 2px 2px black;
   padding: 0.5em 0;
   margin-bottom: 0.5em;
}

.ZoneItemInfo {
   padding-bottom: 0.5em;
   overflow-x: hidden;
   width: 100%;
}

.ZoneItemControls {
   
}