.List {
  background-color: rgb(38, 164, 195);
  height: 93%;
  width: 9%;
  border: solid 1px whitesmoke;

}

/* .List h1 {
  border: solid 2px whitesmoke;
} */
.heading{
color: brown;
font-size: 26px;
  
  font-family: Georgia, 'Times New Roman', Times, serif;
}