.MovementSimulator {
  height: 30%;
  margin-right: 1em;
}

.MovementBody {
  display: flex;
  flex-direction: row;
  margin-right: 1em;
}

.Left {
  display: flex;
  flex-direction: column;
  width: 20%;
}